<section id="awards">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Awards</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <div>
                      <img class="img-circle" src="img/logos/graph.png">
                  </div>
                </span>
                <h4 class="service-heading">DEIM 2020 Online Presentation Award</h4>
                <h5>March 2020</h5>
                <p class="text-muted">
                  I recieved DEIM 2020 Online Presentation Award. See the
                  <a href="https://db-event.jpn.org/deim2020/" target="_blank">website (DEIM 2020)</a> for details.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <div>
                        <img class="img-circle" src="img/logos/tomodachi.png">
                    </div>
                </span>
                <h4 class="service-heading">TOMODACHI STEM @ Rice University 2019</h4>
                <h5>February to March 2019</h5>
                <h5>in Houston TX, Philadelphia PA and Washington, D.C.</h5>
                <p class="text-muted">
                  <a href="http://tomodachistem.rice.edu" target="_blank">The TOMODACHI STEM @ Rice University for Female Students</a>
                  is a five-week research internship program
                  for 10 female undergraduates from Japan who are majoring in science & engineering,
                  held at Rice University in Houston, Texas.
                  I was fully funded this trip by
                  <a href="http://usjapantomodachi.org" target="_blank">TOMODACHI Initiative</a>.
                  I worked on a research project “Predicting Medical Professionals’ Wellbeing Using Wearable
                  and Survey Data”
                  <a href="https://tomodachistem.blogs.rice.edu/files/2019/04/Fukuda-Mei_Poster_Final-12xcpl7.pdf" target="_blank">(Poster)</a>.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <div>
                      <img class="img-circle" src="img/logos/epats.jpg">
                  </div>
                </span>
                <h4 class="service-heading">EPATS</h4>
                <h5>April 2017 to September 2018</h5>
                <h5>in New York NY, Cambridge MA, Washington, D.C. and San Francisco CA.</h5>
                <p class="text-muted">
                  <a href="http://epats.official.jp" target="_blank">EPATS</a> is a project in which selected Tokyo Tech students arrange
                  short-term overseas study tours themselves and travel abroad in order to develop their global perspectives and
                  abilities to cooperate with people from different cultures and fields.
                  EPATS have been received financial support from Hisao Taki, Founder of GURUNAVI Inc.
                  Whole activities and the study trip were fully funded. See
                  <a href="http://epats.official.jp/wp-content/uploads/2019/02/5%E6%9C%9FUS%E3%82%B3%E3%83%BC%E3%82%B9%E6%9C%80%E7%B5%82%E5%A0%B1%E5%91%8A%E6%9B%B8.pdf" target="_blank">
                    report in Japanese
                  </a> for details.
                </p>
            </div>
        </div>
    </div>
</section>
