<section id="communities" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Communities</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <div>
                        <img class="img-circle" src="img/logos/step.png">
                    </div>
                </span>
                <h4 class="service-heading">Google STEP 2019</h4>
                <p class="text-muted">I am a participant of Google STEP (Student Training in Engineering Program) 2019.
                  STEP is an educational program that provides a development course and internship as a Software Engineer
                  mainly for students who are a member of a group that is historically underrepresented.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <div>
                      <img class="img-circle" src="img/logos/photoclub.jpg">
                  </div>
                </span>
                <h4 class="service-heading">Tokyo Tech Photo Club</h4>
                <p class="text-muted">
                  I am a member of official photography society at Tokyo Institute of Technology
                  and worked as a president for a year from October 2017. <br>
                  Visit <a target="_blank" href="https://twitter.com/TokyotechPhoto">Twitter</a>,
                  <a target="_blank" href="https://www.instagram.com/tokyotechphoto/">Instagram</a> and
                  <a target="_blank" href="http://tokyotechphoto.blog77.fc2.com/">Blog</a> for more information.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <div>
                      <img class="img-circle" src="img/logos/tisa.jpg">
                  </div>
                </span>
                <h4 class="service-heading">TISA</h4>
                <p class="text-muted">
                  About TISA (Article): <a target="_blank" href="https://www.titech.ac.jp/globalization/stories/tisa.html">Japanese</a>,
                  <a target="_blank" href="https://www.titech.ac.jp/english/globalization/stories/tisa.html">English</a>.<br>
                  TISA is a international student association at Tokyo Institute of Technology.
                  I worked as a manager of events that collaborate with Japanese students.<br>
                  Photo Shooting Event in December 2017 (Article): <a target="_blank" href="https://www.titech.ac.jp/news/2018/040580.html">Japanese</a>,
                  <a target="_blank" href="https://www.titech.ac.jp/english/news/2018/040581.html">English</a>.<br>
                  Karuta Event in December 2018 (Article): To Be Updated.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <div>
                      <img class="img-circle" src="img/logos/sinma.png">
                  </div>
                </span>
                <h4 class="service-heading">Short-Term Study Abroad Program in Singapore & Malaysia</h4>
                <h5>March 2017</h5>
                <p class="text-muted">I visited Nanyang Technological University (NTU),
                  Singapore University of Technology and Design (SUTD) and some companies in Singapore,
                  and University of Malaya in Malaysia with 11 fellow participants.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <div>
                      <img class="img-circle" src="img/logos/india.png">
                  </div>
                </span>
                <h4 class="service-heading">Short-Term Study Abroad Program in India</h4>
                <h5>August - September 2017</h5>
                <p class="text-muted">I visited Indian Institute of Technology Madras (IITM)
                  and some companies in Chennai and Bangalore with 10 fellow participants.
                  See <a target="_blank" href="http://www.ghrd.titech.ac.jp/gsec/wp-content/uploads/2018/2017India.pdf">report</a> for details.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <div>
                        <img class="img-circle" src="img/logos/gopher.png">
                    </div>
                </span>
                <h4 class="service-heading">Gopher</h4>
                <p class="text-muted">I love <a href="https://golang.org/" target="_blank">Go language</a>.
                  I am studying Go as a member of communities such as
                  <a href="https://womenwhogotokyo.github.io/" target="_blank">Women Who Go Tokyo</a>
                  and Student Go.<br>
                  Also, I often use Python and C++ and sometimes use C, Scala, Ruby, Java, and Rust.<br>
                  (The Gopher character is based on the Go mascot designed by Renee French.)
                </p>
            </div>
        </div>
    </div>
</section>
