<section id="research" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <h4>Area of Interest</h4>
            <p class="text-muted">
              Complex Network; Data Engineering; Algorithms; Graph Theory; Cognitive Science; Affective Computing; Neural Network
            </p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <h4>Projects</h4>
            <h5>Shudo Lab, Tokyo Institute of Technology</h5>
            <h6>August 2019</h6>
            <p class="text-muted">
              “Comparison of graph generative models focusing on accuracy and its variation"
            </p>
            <h5>Computational Wellbeing Group, Rice University</h5>
            <h6>March 2019</h6>
            <p class="text-muted">
              “Predicting Medical Professionals’ Wellbeing Using Wearable and Survey Data"
            </p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
    </div>
</section>
