<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Work Experience</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <h4 class="subheading">Google Japan Inc.</h4>
            <h5>October 2020 - February 2021</h5>
            <p class="text-muted">
              I am intended to work at Google Assistant team as a SWE intern.
            </p>
            <h4 class="subheading">Mercari, Inc.</h4>
            <h5>August - September 2020</h5>
            <p class="text-muted">
              Implement E2E tests and new feature for drop shipping at logistics backend.
            </p>
            <h4 class="subheading">Google Japan Inc.</h4>
            <h5>September - December 2019</h5>
            <p class="text-muted">
              Join Chrome OS team and work on Tast-lint project as a STEP intern. See <a href="#portfolio">portfolio</a> for details.
            </p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
    </div>
</section>
