<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Work Experience</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <h5>Google Japan Inc.</h4>
            <h6>October 2020 - February 2021</h5>
            <p class="text-muted">
              Join Assistant team and work on a migration project as a SWE intern.
            </p>
            <h5>Mercari, Inc.</h4>
            <h6>August - September 2020</h5>
            <p class="text-muted">
              Implement E2E tests and new feature for drop shipping (Atoyoro-Mercari-bin) at logistics backend.
            </p>
            <h5>Google Japan Inc.</h4>
            <h6>September - December 2019</h5>
            <p class="text-muted">
              Join Chrome OS team and work on Tast-lint project as a STEP intern. See <a href="#portfolio">portfolio</a> for details.
            </p>
          </div>
          <div class="col-md-2">
          </div>
        </div>
    </div>
</section>
